/* ---------------- */
/* Reset            */
/* ---------------- */

/* Box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  font-family: 'Montserrat', sans-serif;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100hv;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make forms easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  display: flex;
  justify-content: center;
  background-color: #fff;
  letter-spacing: 0.1rem;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 2rem;
  gap: 1rem;
  border-radius: 4px;
  max-width: 27rem;
  border: 1px solid #c3f8ff;
  box-shadow: 1px 1px 0.5rem #719ece;
}

.details {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  top: -1.5rem;
}

h1 {
  line-height: 3rem;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

h1,
.details,
label {
  color: #0f3460;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  border-radius: 3px;
  border: solid 2px #4c4c6da1;
}

input:focus {
  outline: none !important;
  border: 1px solid #fbdf07;
  box-shadow: 0 0 0.2rem #fbdf07;
}

img {
  margin: 0 auto;
}

.icon {
  position: relative;
  top: -3rem;
  width: 6rem;
  background-color: #eaf6f6;
  border-radius: 50%;
  margin: 0 auto;
}
